body {
  font-family: "Poppins", sans-serif;
}

/* DARK MODE*/
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .navbar {
  background-color: #333;
}

body.dark-mode .card {
  background-color: #1e1e1e;
  border-color: #444;
}

body.dark-mode .form-control {
  background-color: #333;
  color: #fff;
  border-color: #555;
}

body.dark-mode .btn-primary {
  background-color: #0069d9;
  border-color: #0062cc;
}
body.dark-mode .card,
body.dark-mode .list-group-item {
  background-color: #121212;  /* Use your desired dark background */
  color: #ffffff;
  border-color: #444;
}

body.dark-mode .card-header {
  background-color: #333;
  color: #ffffff;
  border-color: #444;
}

body.dark-mode .bg-custom,
body.dark-mode .custom-box {
  background-color: #121212;
  color: #ffffff;
  border-color: #444;
}
